
# Core Data Science Libraries
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
scipy==1.15.2

# Visualization
matplotlib==3.10.3
seaborn==0.13.2

# Web App
streamlit==1.45.0

# Model Serialization
joblib==1.4.2